<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="G. (Kyria) Bisch">

    <title>kyria.github.io{% if page.title %} - {{page.title}}{% endif %}</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/kyria.github.io.css" rel="stylesheet">
    <link href="/assets/css/syntax.css" rel="stylesheet">
</head>


<body>
    <div id="wrap">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">kyria.github.io</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/EsiPy">EsiPy</a></li>
                        <li><a href="/LazyBlacksmith">LazyBlacksmith</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-3 col-md-2">
                    <div class="list-group" id="menu">
                        <a href="/EsiPy" data-section="index" class="list-group-item">What is EsiPy</a>

                        <a class="list-group-item collapse-title" data-toggle="collapse" href="#started">Getting Started</a>
                        <div id="started" class="collapse in submenu">
                            <a href="/EsiPy/getting_started/installation/" data-section="getting_started/installation" class="list-group-item">Installation</a>
                            <a href="/EsiPy/getting_started/basic_usage/" data-section="getting_started/basic_usage" class="list-group-item">Basic Usage</a>
                            <a href="/EsiPy/getting_started/sso_authentification/" data-section="getting_started/sso_authentification" class="list-group-item">SSO Authentification</a>
                        </div>

                        <a class="list-group-item collapse-title" data-toggle="collapse" href="#advanced">Advanced Uses</a>
                        <div class="collapse in submenu" id="advanced">
                            <a href="/EsiPy/advanced_uses/esiapp/" data-section="advanced_uses/esiapp" class="list-group-item">EsiApp - Esi Meta Spec</a>
                            <a href="/EsiPy/advanced_uses/multiple_page_request/" data-section="advanced_uses/multiple_page_request" class="list-group-item">Multiple page request</a>
                            <a href="/EsiPy/advanced_uses/event_hook_signal/" data-section="advanced_uses/event_hook_signal" class="list-group-item">Event hooks / Signals</a>
                            <a href="/EsiPy/advanced_uses/using_own_cache/" data-section="advanced_uses/using_own_cache" class="list-group-item">Using your own cache</a>
                        </div>

                        <a class="list-group-item collapse-title" data-toggle="collapse" href="#examples">Examples</a>
                        <div class="collapse in submenu" id="examples">
                            <a href="/EsiPy/examples/sso_login_esipy/" data-section="examples/sso_login_esipy" class="list-group-item">SSO Login using EsiPy</a>
                            <a href="/EsiPy/examples/using_refresh_token/" data-section="examples/using_refresh_token" class="list-group-item">Using the refresh token</a>
                            <a href="https://github.com/Kyria/flask-esipy-example" class="list-group-item" target="_blank">Flask integration</a>
                        </div>

                        <a href="/EsiPy/contact/" data-section="contact" class="list-group-item">Contacts</a>
                        <a href="/EsiPy/licence/" data-section="licence" class="list-group-item">Licence</a>
                        <a class="list-group-item collapse-title" data-toggle="collapse" href="#changelog">Changelogs</a>
                        <div class="collapse in submenu" id="changelog">
                            <a href="/EsiPy/changelogs/0.3.x/" data-section="changelogs/0.3.x" class="list-group-item">0.3.x</a>
                            <a href="/EsiPy/changelogs/0.2.0/" data-section="changelogs/0.2.0" class="list-group-item">0.2.0</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-10">
                {{content}}
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <span class="text-muted pull-right"><a href="{{site.github_url}}">View source on GitHub</span></a>
            {{site.app_name}} &nbsp;
            <a href="https://pypi.python.org/pypi/EsiPy" target="_blank">
                <img src="https://img.shields.io/pypi/v/EsiPy.svg" alt="PyPI version">
            </a> 
            <a href="https://pypi.python.org/pypi/EsiPy" target="_blank">
                <img src="https://img.shields.io/pypi/pyversions/EsiPy.svg" alt="PyPI supported version">
            </a> 
            <a href="https://travis-ci.org/Kyria/EsiPy" target="_blank">
                <img src="https://travis-ci.org/Kyria/EsiPy.svg?branch=master" alt="Build Status">
            </a> 
            <a href="https://coveralls.io/github/Kyria/EsiPy" target="_blank">
                <img src="https://coveralls.io/repos/github/Kyria/EsiPy/badge.svg" alt="Coverage Status">
            </a> 
            <a href="https://landscape.io/github/Kyria/EsiPy/master" target="_blank">
                <img src="https://landscape.io/github/Kyria/EsiPy/master/landscape.svg?style=flat" alt="Code Health">
            </a>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        // ajouter data-section="/chemindufichier" dans les menus sidebar
        $('#menu .list-group-item[data-section="{{page.section}}"]').addClass('active');
        $('table').addClass('table table-striped table-hover');
    </script>
</body>
</html>
